<?xml version="1.0" encoding="utf-8"?>

<robot name="compartments">

  <link name="world"/>

  <link name="lower_compartment">
    <inertial>
      <origin
        xyz="-0.085357 0.011079 -0.033374"
        rpy="0 0 0" />
      <mass
        value="0.036014" />
      <inertia
        ixx="9.3066E-06"
        ixy="1.3731E-06"
        ixz="-1.0244E-06"
        iyy="6.7056E-05"
        iyz="9.7796E-08"
        izz="6.4144E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://r2b_env/meshes/lower_compartment.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://r2b_env/meshes/lower_compartment.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="fixed" type="fixed">
		<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
		<parent link="world"/>
		<child link="lower_compartment"/>
	</joint>

  <link name="upper_compartment">
    <inertial>
      <origin
        xyz="-0.16624 0.075165 -0.033821"
        rpy="0 0 0" />
      <mass
        value="0.039976" />
      <inertia
        ixx="8.8652E-05"
        ixy="4.7395E-07"
        ixz="3.6545E-13"
        iyy="1.1987E-05"
        iyz="1.3456E-12"
        izz="8.4976E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://r2b_env/meshes/upper_compartment.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://r2b_env/meshes/upper_compartment.STL" />
      </geometry>
    </collision>
  </link>

  <joint
    name="upper_compartment_jnt"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="lower_compartment" />
    <child
      link="upper_compartment" />
  </joint>

  <gazebo reference="upper_compartment_jnt">
		<preserveFixedJoint>true</preserveFixedJoint>
	</gazebo>

  <gazebo reference="lower_compartment">
      <material>Gazebo/Yellow</material>
  </gazebo>

  <gazebo reference="upper_compartment">
      <material>Gazebo/Yellow</material>
  </gazebo>

  <!-- <link
    name="box_top">
    <inertial>
      <origin
        xyz="-0.015 0 6.9389E-18"
        rpy="0 0 0" />
      <mass
        value="0.030353" />
      <inertia
        ixx="5.2421E-06"
        ixy="1.9222E-21"
        ixz="-1.5064E-22"
        iyy="4.3309E-06"
        iyz="-1.1353E-21"
        izz="5.4641E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://r2b_env/meshes/box_top.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://r2b_env/meshes/box_top.STL" />
      </geometry>
    </collision>
  </link>

  <joint
    name="box_top_jnt"
    type="fixed">
    <origin
      xyz="-0.146 0.12875 -0.034071"
      rpy="0 0 0" />
    <parent
      link="upper_compartment" />
    <child
      link="box_top" />
    <axis
      xyz="0 0 0" />
  </joint>

  <link
    name="box_mid">
    <inertial>
      <origin
        xyz="-0.015 -1.3878E-17 1.3878E-17"
        rpy="0 0 0" />
      <mass
        value="0.031755" />
      <inertia
        ixx="5.751E-06"
        ixy="3.3449E-21"
        ixz="5.6808E-23"
        iyy="4.6071E-06"
        iyz="-5.1228E-22"
        izz="5.9071E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://r2b_env/meshes/box_mid.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://r2b_env/meshes/box_mid.STL" />
      </geometry>
    </collision>
  </link>

  <joint
    name="box_mid_jnt"
    type="fixed">
    <origin
      xyz="-0.146 0.08925 -0.033821"
      rpy="0 0 0" />
    <parent
      link="upper_compartment" />
    <child
      link="box_mid" />
    <axis
      xyz="0 0 0" />
  </joint>

  <link
    name="box_down">
    <inertial>
      <origin
        xyz="-0.015 1.3878E-17 1.3878E-17"
        rpy="0 0 0" />
      <mass
        value="0.030885" />
      <inertia
        ixx="5.4081E-06"
        ixy="1.8055E-21"
        ixz="1.3388E-21"
        iyy="4.4809E-06"
        iyz="4.7747E-22"
        izz="5.5599E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://r2b_env/meshes/box_down.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://r2b_env/meshes/box_down.STL" />
      </geometry>
    </collision>
  </link>

  <joint
    name="box_down_jnt"
    type="fixed">
    <origin
      xyz="-0.146 0.04975 -0.033821"
      rpy="0 0 0" />
    <parent
      link="upper_compartment" />
    <child
      link="box_down" />
    <axis
      xyz="0 0 0" />
  </joint> -->

</robot>