<?xml version="1.0" encoding="utf-8"?>

<robot name="compartments">

  <link name="world"/>

  <link name="lower_compartment">
    <inertial>
      <origin
        xyz="-0.085357 0.011079 -0.033374"
        rpy="0 0 0" />
      <mass
        value="0.036014" />
      <inertia
        ixx="9.3066E-06"
        ixy="1.3731E-06"
        ixz="-1.0244E-06"
        iyy="6.7056E-05"
        iyz="9.7796E-08"
        izz="6.4144E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://r2b_env/meshes/lower_compartment.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://r2b_env/meshes/lower_compartment.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="fixed" type="fixed">
		<origin xyz="0.0 0.0 0.0" rpy="1.5708 0.0 0.0"/>
		<parent link="world"/>
		<child link="lower_compartment"/>
	</joint>

  <link name="upper_compartment">
    <inertial>
      <origin
        xyz="-0.16624 0.075165 -0.033821"
        rpy="0 0 0" />
      <mass
        value="0.039976" />
      <inertia
        ixx="8.8652E-05"
        ixy="4.7395E-07"
        ixz="3.6545E-13"
        iyy="1.1987E-05"
        iyz="1.3456E-12"
        izz="8.4976E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://r2b_env/meshes/upper_compartment.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://r2b_env/meshes/upper_compartment.STL" />
      </geometry>
    </collision>
  </link>

  <joint
    name="upper_compartment_jnt"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="lower_compartment" />
    <child
      link="upper_compartment" />
  </joint>

  <gazebo reference="upper_compartment_jnt">
		<preserveFixedJoint>true</preserveFixedJoint>
	</gazebo>

  <gazebo reference="lower_compartment">
      <material>Gazebo/Yellow</material>
  </gazebo>

  <gazebo reference="upper_compartment">
      <material>Gazebo/Yellow</material>
  </gazebo>

  <gazebo>
    <static>true</static>
  </gazebo>

</robot>